.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 98vh;
    box-sizing: border-box;
    overflow: hidden;

    .flex-1 {
        flex: 1;
    }

    .form-group{
        display: flex;
        flex-direction: column;
        max-width: 200px;
        justify-self: center;
        gap: 8px;

        .row {
            display: flex;
            flex-direction: row;
            padding: 8px 0;
            gap: 8px;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;

            h4 {
                margin: 0;
            }
        }
    
        .column{
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            input, button {
                width: 200px;
                box-sizing: border-box;
                padding: 8px 16px;
            }
    
            &:last-child {
                margin-top: 16px;
            }
        }
    }

    app-logger {
        @extend .flex-1;
        height: inherit;
        overflow-y: auto;
    }

}